.cursor {
    opacity: .5;
    background-color: white;
    border-radius: 12px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    position: absolute;
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 6px;
    font-family: arial;
}

.rotating {
    background-color: blue;
}

.dominant-cursor {
    color: red;
}

.bin-container {
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.bin, .trash {
    width: 80px;
    height: 80px;
    opacity: 0.8;
    background-color: gray;
    pointer-events: none;
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
    margin: 5px;
}

.bin.intersecting-hand-left, .bin.intersecting-hand-right {
    background-color: lightblue;
}

.trash.intersecting-hand-right, .trash.intersecting-hand-left {
    background-color: red;
}

.trash {
    margin-left: 50px;
}

.camera-handle {
    background-color: darkgray;
    width: 120px;
    height: 80px;
    opacity: 0.3;
    position: absolute;
}

.camera-handle-left {
    bottom: 0;
    left: 0;
    border-top-right-radius: 20px;
}
.camera-handle-right {
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
}

.held-by-left, .held-by-right {
    background-color: lightblue;
    opacity: 0.5;
}

.camera-handle.intersecting-hand-left, .camera-handle.intersecting-hand-right {
    opacity: 0.5;
}
