.cursor {
    opacity: .8;
    background-color: white;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 8pt;
    font-family: arial;
}

.rotating {
    background-color: blue;
}

.dominant-cursor {
    color: red;
}

.bin-container {
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.bin {
    width: 80px;
    height: 80px;
    opacity: 0.8;
    background-color: gray;
    pointer-events: none;
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
    margin: 5px;
}

.intersecting-hand {
    background-color: lightblue;
}

